@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.card .card-title {
    font-size: 15px;
}

.brand-logo {
    font-family: 'Lobster', cursive;
}

