@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*............................................Special headings*/
/* Reset default margin and padding */
* {
    margin: 0px;
    padding: 0px;
}



#register-text {
    color: black;
}

/* Text shadow for fonts */
.text-shadow {
    text-shadow: 2px 2px 2px #e1f5fe;
}

/* Change font of brand logo */
.brand-logo {
    font-family: 'Lobster', cursive;
    margin-left: 10px;
}

/* Style headings for flash messages */
.flashes h4 {
    line-height: 2;
}

/* Style paragraph text */
p {
    font-size: 15px;
    text-align: center;
}

/* Headings for social icons and lyrics */
h5 {
    text-decoration: underline;
    text-align: center;
}

/* Headings for admin messages*/
h4 {
    font-size: 3rem;
    line-height: 424%;
    margin-bottom: 42px;
    margin-top: 20px;
    text-align: center;
}


/* Style p class for register */
#register  {
    font-size: 20px;
    line-height: 320%;
    margin-bottom: 2px;
    color: black;
}

#register-text  {
    font-size: 20px;
    line-height: 320%;
    margin-bottom: 2px;
    color: black;
}

#login-text {
    font-size: 20px;
    line-height: 320%;
    margin-bottom: 2px;
    color: black;
}

.red {
    background-color: #F44336 !important;
}



/*............................................Error 404 Page*/
/* Style 404 page */
.page_not_found {
    margin-top: 100px;
    line-height:100%;
    font-size: 3rem;
    margin-bottom: 40px;
}

/* Error 404 message */
.error_message {
    line-height:223%;
    font-size: 3rem;
}

/* Redirect to Home Page */
.redirect {
    line-height:225%;
    font-size: 3rem;
    margin-bottom: 91px;
}

/*............................................Lyrics Page*/
/* Style flow text for lyrics */
.flow-text {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    word-spacing: 2px;
}

/* Main card title */
.card .card-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 18px;
}

/* Card content paragraphs */
.card .card-content p {
    font-size: 18px;
}

/* Sub headings for cards */
.card-subtitles {
    border-radius: 5px;
}

/* To style card images */
.card .card-image img {
    width: 85%;
    margin: auto;
    border-radius: 5px;
    height: 300px;
}

/* Fontawesome icon height */
.card .card-content .card-title i,
.card .card-reveal .card-title i {
    line-height: 32px;
}

.input-field>label {
    color: black !important;
}

.red {
    background-color: darkred !important;
}

.light-blue.darken-1 {
    background-color: #035B87 !important;
}

/*............................................Buttons*/
/* Large button */
.btn-large {
    margin-bottom: 91px;
}

/*............................................Social Icons*/
/* Style social links container */
.social-links li {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
}

/* Font awesome plus circle */
i.fa-plus-circle {
    color: green;
}

/* Font awesome minus circle */
i.fa-minus-circle {
    color: red;
}

/*............................................Footer*/
/* Fix empty link error on WAVE validation */
.sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }


/*............................................Media Queries*/
/* Change font sixe of mobile brand logo */
@media only screen and (max-width: 992px) {
    .sidenav>a {
        padding: 0 16px;
        font-size: 24px;
    }
}
