@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body {
    background-color: #F9EBEA;
}

p {
    font-size: 15px;
    text-align: center;
}

h5 {
    text-decoration: underline;
    text-align: center;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0);
}

.flashes h4 {
    line-height: 2;
}




.brand-logo {
    font-family: 'Lobster', cursive;
    margin-left: 10px;
}

.btn-small {
    margin-top: 30px;
}

.sidenav {
    position: fixed;
    width: 320px;
}

.flow-text {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    word-spacing: 2px;

}

.card .card-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
   
    
    
}

.card .card-content p {
    color: white;
    font-size: 18px;
    
}

.card-subtitles {
    border-radius: 5px;
}

.card .card-image img {
    width: 85%;
    margin: auto;
    border-radius: 5px;
    height: 300px;
    
}

.card .card-content .card-title i,
.card .card-reveal .card-title i {
    line-height: 32px;



}

i.fa-plus-circle {
    color: green;
}

i.fa-minus-circle {
    color: red;
}


