@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
    margin: 0px;
    padding: 0px;
    
}






p {
    font-size: 15px;
    text-align: center;
}

h1 {
    line-height:223%;
    font-size: 3rem;
}

h5 {
    text-decoration: underline;
    text-align: center;
}

h4 {
    font-size: 3rem;
    line-height: 447%;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}

.text-shadow {
    text-shadow: 2px 2px 2px #e1f5fe;
}

.flashes h4 {
    line-height: 2;
}

#register {
    font-size: 25px;
    line-height: 320%;
    margin-bottom: 2px;
}


.brand-logo {
    font-family: 'Lobster', cursive;
    margin-left: 10px;
}

.btn-small {
    margin-top: 30px;
}

.sidenav {
    position: fixed;
    width: 320px;
}

.flow-text {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    word-spacing: 2px;

}

.card .card-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 18px;
   
    
    
}

.card .card-content p {
    color: white;
    font-size: 18px;
    
}

.card-subtitles {
    border-radius: 5px;
}

.card .card-image img {
    width: 85%;
    margin: auto;
    border-radius: 5px;
    height: 300px;
    
}

.card .card-content .card-title i,
.card .card-reveal .card-title i {
    line-height: 32px;



}


i.fa-plus-circle {
    color: green;
}

i.fa-minus-circle {
    color: red;
}

.parallax-container {
   
    height: 400px;
    min-width: 1925px;
    right: 26.1%;
    
    
}





.parallax-lower {
    margin-top: 35px;
}






.content {
    flex: 1;
}




.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  






