{% extends "base.html" %}
{% block content %}

  <!-- 404 page -->
  <div class="error"></div>
    <div class="row">
      <div class="col s12 center-align top-margin-error bottom-margins">
        <p class="page_not_found">Whoops! A 404 error occurred.</p>
        <P class="error_message">The page you are looking for could not be found!</p>
        <p class="redirect">Please go back to the homepage of</p>
        <a href="{{ url_for('home') }}" class="btn-large btn-red">Home</a>
      </div>
    </div>
</div>

{% endblock %}