{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Genre</h3>
<div class="row card-panel grey lighten-5">
<form class="col s12" method="POST" action="{{ url_for('add_genres') }}"></form>
      <!--artist name -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-signature prefix light-blue-text text-darken-4"></i>
            <input id="music_genre" name="music_genre" minlength="3" maxlength="100" type="text" class="validate" required/>
            <label for="music_genre">Music Genre</label>
         </div>
      </div>
      <!-- submit button -->
      <div class="row">
         <div class="col s12 center-align">
            <button type="submit" class="btn add-genre light-blue darken-1 text-shadow">Add Genre <i class="fas fa-plus-square right"></i></button>
         </div>
      </div>
   </form>
</div>
</div>
</div>

{% endblock %}
