{% extends "base.html" %}
{% block content %}

<!-- Main heading for page -->
<h3 class="light-blue-text text-darken-4 center-align">Edit Genre</h3>
<!-- Main card panel-->
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-signature prefix light-blue-text text-darken-4"></i>
                <input id="music_genre" name="music_genre" minlength="3" maxlength="100" value="{{ genre.music_genre }}" type="text" class="validate" required />
                <label for="music_genre">Music Genre</label>
            </div>
        </div>
        <!-- Buttons -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_genres') }}" class="btn-large black-text red"> Cancel <i class="fas fa-times-circle right"></i> </a>
                <button type="submit" class="btn-large light-blue black-text darken-5 btn">Edit Genre <i class="fas fa-plus-edit right"></i></button>
            </div>
        </div>
    </form>
</div>
<!-- Message for admin users only -->
<h4 class="light-blue-text text-darken-4 center-align">As an admin user you can add edit genres</h4>

{% endblock %}