{% extends "base.html" %}
{% block content %}

<div class="container">
   <!-- Main heading for page -->
   <h3 class="light-blue-text text-darken-4 center-align">All Lyrics</h3>
   <!-- Search Box -->
   <div class="search">
      <div class="row card-panel grey lighten-5">
         <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row center-align">
               <div class="row valign-wrapper center-align">
                  <div class="input-field col s12">
                     <i class="fas fa-search prefix"></i>
                     <input type="text" name="query" id="query" minlength="3" class="validate" required />
                     <label for="query">Search Lyrics, Artist Name, Music Genre or Composer</label>
                  </div>
               </div>
               <!-- reset and search buttons -->
               <div class="row center-align">
                  <div class="col s12">
                     <a href="{{ url_for('get_lyrics') }}" class="red btn black-text">Reset</a>
                     <button type="submit" class="light-blue black-text darken-5 btn"><i class="fas fa-search left"></i> Search</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<!-- Main Content-->
{% if lyric|length > 0 %}
   
   <div class="row">
      {% for lyric in lyric %}
      <div class="col s12 m6 l6 xl4">
         <div class="card hoverable">
            <div class="card-image">
               <img class="activator" src="{{ lyric.image_url }}" alt="album artwork" />
            </div>
            <div class="card-content">
               <span class="card-title activator center-align text-black">Artist Name: {{ lyric.artist_name }}<i class="fas fa-plus-circle right"></i></span>
               <div class="card-subtitles center-align text-shadow grey lighten-1">
                  <p>Music Genre: {{ lyric.music_genre }}</p>
                  <p>Composer: {{ lyric.song_composer }}</p>
                  <p>Created by: {{ lyric.created_by }}</p>
               </div>
            </div>
            <!-- Card reveal for lyrics -->
            <div class="card-reveal">
               <span class="card-title center-align text-black">Song Title: {{ lyric.song_title }}<i class="fas fa-minus-circle right"></i></span>
               <h5>Lyrics</h5>
               <p class="flow-text">{{ lyric.song_lyrics }}</p>
            </div>
            <!-- Delete and Edit buttons -->
            <div class="card-action">
               <div class="row center-align">
                  {% if session.user|lower == lyric.created_by|lower %}
                  <a href="{{ url_for('delete_lyrics', lyrics_id=lyric._id) }}" class="btn-small black-text green accent-4">Delete</a>
                  <a href="{{ url_for('edit_lyrics', lyrics_id=lyric._id) }}" class="btn-small black-text light-blue lighten-1">Edit</a>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
      {% endfor %}   
   </div>
      {% else %}
        <!-- Text To Display If No Reviews Found -->
        <h3 class="red-text center-align">No Search Results Found</h3>
   {% endif %}
{% endblock %}